* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Inter', sans-serif;
}

/* Header Styles */
header {
    background: #4600FF;
    border-bottom: 2px solid black;
    color: white;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.logo {
    width: 70px;
    height: 70px;
    transition: transform 0.6s ease;
}

.logo:hover {
    transform: rotate(180deg);
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}

.hamburger-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu__btn {
    position: absolute;
    color: #000;
    top:50px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition-duration: 0.25s;
}

.menu__btn > span::before,
.menu__btn > span::after {
    content: '';
    top: -10px;
}

.menu__btn > span::after {
    top: 10px;
}

.menu__box {
    display:block;
    position:fixed;
    top:0;
    border-radius: 0px 0px 0px 10px;
    height: 250px;
    right: -125px; /* Initial position off the screen */
    width: 125px;
    padding: 50px 15px; /* Adjusted padding */
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px #6200EE;
    transition-duration: 0.25s;
}

.menu__item {
    display: block;
    margin-top:10px;
    padding: 12px 20px; /* Adjusted padding */
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition-duration: 0.25s;
}

.menu__item:hover {
    background-color: #6200EE;
}

nav .categories{
    display: flex;
}

nav .categories a{
    text-decoration: none;
    color:#6200EE;
    box-shadow: 0px 4px 4px #fff(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    background:beige;
    transition: 0.3s ease;
}

nav .categories a:hover {
    background: #000;
    color: #fff;
    box-shadow: none; 
}

/* Section Styles */
section {
    text-align: center;
    background-color:#6200EE;
    color: #333;
    padding: 20px;
    transition: transform 0.5s ease;
}

img {
    display: block;
    height:240px;
    width: 240px;
    padding: 10px;
    margin: 0 auto;
}

.Mo-videos iframe {
    width: 400px;
    height: 225px;
}
    
.Mo-Zips iframe{
    width: 225px;
    height: 400px;
}

.gif {
    display: block;
    width: 25%;
    height:25%;
    padding: 2%;
    border:none;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

h3 {
    font-size: 32px;
    margin-top: 10px;
    color: #fff;
    text-align: left;
    margin-left: 20px;
}

h1 {
    font-size: 48px;
    color:#fff ;
    margin-top: 0;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

p {
    font-weight: 900;
    margin:0;
    text-align: center;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

/* Highlighted Text Styles */
.highlight-text {
    color: #000;
}

/* Footer Styles */
footer {
    background: #4600FF;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-top: 2px solid black;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

.content-container {
    display:contents;
    justify-content: space-around;
    flex-wrap:wrap;   
}

.category {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #6200EE;
    text-align: center;
}

/* Content Module Styles */
/* Scrollable container */
.content-container-horizontal {
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

/* Hide the scrollbar for webkit-based browsers */
.content-container-horizontal::-webkit-scrollbar {
    display: none;
}

/* Individual content modules within the horizontal scroll container */
.content-module {
    position: relative;
    background: #fff;
    border: 2px solid #4600FF;
    padding: 5px;
    margin: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    min-width: 320px; 
    color: #000; 
}

.content-window {
    margin:5px;
}

.content-window p {
    padding-right: 10px;
    padding-left: 10px;
}

.content-module p {
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 15px;
    color:#000;
    text-align: left;
}

.button-container a {
    text-decoration: none;
    color:#000;
    box-shadow: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    position: static;
    padding: 10px;
}

.profile-window {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;
}

.profile-container {
    padding:5px;
    display: flex;
    align-items: center; 
}

.profile-photo {
    border: none;
    max-height: 70px;
    max-width: 70px; /* Adjust the maximum width */
    margin: auto; /* Add spacing between the image and moment-user */
}

.moment-user {
    font-family: cursive;
    text-transform: none;
    font-style: normal;
    color: #4600FF;
    font-size: 16px;
}

/* button styles */
.button-other,
.button-digital-advisor,
.button-academia,
.button-sales,
.button-running,
.button-careers,
.button-college,
.button-time,
.button-activity,
.button-summary,
.button-fund,
.button-funded {
    display:flex;
    font-family: fantasy;
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
    font-weight: 300;
    margin-right: 5px;
    margin-left: 5px;
    max-width: fit-content;
    border-radius: 20px;
}

.button-other{
    text-decoration: underline;
    font-weight: bold;
    color: thistle;
}

.button-digital-advisor{
    text-decoration: underline;
    font-weight: bold;
    color:yellowgreen;
}

.button-sales{
    text-decoration: underline;
    font-weight: bold;
    color: violet;
}

.button-running{
    text-decoration: underline;
    font-weight: bold;
    color: darksalmon;
}

.button-careers{
    text-decoration: underline;
    font-weight: bold;
    color: cornflowerblue;
}

.button-academia{
    text-decoration: underline;
    font-weight: bold;
    color: purple;
}

.button-consult{
    background-color:aquamarine;
    cursor: pointer;
    color: #000;
    display:flex;
    font-family: fantasy;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 5px ;
    font-weight: 300;
    margin-right: 5px;
    margin-left: 5px;
    max-width: fit-content;
    border-radius: 20px;
}

.button-consult:hover {
    background:aqua;
    border-radius: 20px;
}

.button-fund {
    background-color: lightgreen;
    color: #000;
    display:flex;
    font-family: fantasy;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 5px ;
    font-weight: 300;
    margin-right: 5px;
    margin-left: 5px;
    max-width: fit-content;
    border-radius: 20px;
    }

.button-fund:hover {
    background: green;
    border-radius: 20px;
}

.button-funded {
    text-decoration: underline;
    font-weight: bold;
    color: darkcyan;
}

.button-summary{
    text-decoration: underline;
    font-weight: bold;
    color:dimgray;
}

.button-time {
    text-decoration: underline;
    font-weight: bold;
    color:bisque;
}

.button-activity {
    text-decoration: underline;
    font-weight: bold;
    color: lightblue;
}

@media screen and (max-width: 375px) {
    /* Styles for iPhone 8 and similar small screens */
.button-other,
.button-digital-advisor,
.button-academia,
.button-sales,
.button-running,
.button-careers,
.button-college,
.button-consult,
.button-fund,
.button-time,
.button-activity,
.button-summary,
.button-funded {
        font-size: 8px;
    }

    .content-module {
        min-width: 240px;
    }

    .content-window {
        margin:auto;
    }

    .profile-photo {
        max-height: 50px;
        max-width: 50px; /* Adjust the maximum width */
    }

}

@media screen and (min-width: 376px) and (max-width: 768px) {
    /* Styles for iPhone X, iPhone 11, and similar screens */
.button-other,
.button-digital-advisor,
.button-academia,
.button-sales,
.button-running,
.button-careers,
.button-college,
.button-consult,
.button-fund,
.button-time,
.button-activity,
.button-summary,
.button-funded {
        font-size: 10px;
    }

    .moment-user {
        font-size: 12px;
    }

    h1 {
        font-size: 32px;
    }

    .gif{
        width:80%;
        height:80%;
    }

    .img{
        width: 80%;
        height: 80%;
    }

    .content-module {
        min-width: 320px;
    }

    .content-window {
        margin:auto;
    }

    .profile-photo {
        max-height: 60px;
        max-width: 60px; /* Adjust the maximum width */
    }

    .Mo-videos iframe {
        width: 300px;
        height: 168.75px;
    }
    
    .Mo-Zips iframe{
        min-width: 168.75px;
        min-height: 300px;
    }

    .menu__btn {
        position: fixed;
        top:40px;
        right:30px;
        padding-right: 30px;
    }

    .menu__box {
        position:fixed;
        width:fit-content;
        height: max-content;
        top:0;
        right:-125px;
        padding-right: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets */
.button-sales,
.button-digital-advisor,
.button-academia,
.button-running,
.button-other,
.button-careers,
.button-college,
.button-consult,
.button-fund,
.button-time,
.button-activity,
.button-summary,
.button-funded {
        font-size: 12px;
    }

    .moment-user {
        font-size: 16px;
    }

    h1 {
        font-size: 28px;
    }

    .gif{
        width:70%;
        height:70%;
    }

    .img{
        width: 70%;
        height: 70%;
    }

    .profile-photo {
        max-height: 70px;
        max-width: 70px; /* Adjust the maximum width */
    }

    .content-module {
        min-width: 480px; /* Set a minimum width for each module */
    }
    
    .content-window {
        margin: 5px;
    }
    
    .Mo-videos iframe {
        width: 350px;
        height: 196.875px;
    }
    
    .Mo-Zips iframe{
        min-width: 196.875px;
        min-height: 350px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for larger screens up to 1440px */
.button-sales,
.button-academia,
.button-digital-advisor,
.button-running,
.button-other,
.button-careers,
.button-college,
.button-consult,
.button-fund,
.button-time,
.button-activity,
.button-summary,
.button-funded
    font-size: 14px;
    }  
