* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Inter', sans-serif;
}

/* Header Styles */
header {
    background: #4600FF;
    border-bottom: 2px solid black;
    color: white;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.navbar {
    text-align: center;
    background-color: #4600FF;
    color: #333;
    transition: transform 0.5s ease;
}

.logo {
    width: 70px;
    height: 70px;
    transition: transform 0.6s ease;
}

.logo:hover {
    transform: rotate(180deg);
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}

.hamburger-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.menu__btn {
    padding-top: 18px;
    display: block;
    position: fixed;
    top: 35px;
    right: 35px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-style: solid;
    border-color: #fff;
    background: transparent;
    cursor: pointer;
    z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition-duration: 0.25s;
}

.menu__btn > span::before,
.menu__btn > span::after {
    content: '';
    top: -10px;
}

.menu__btn > span::after {
    top: 10px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    border-radius: 0px 0px 0px 10px;
    padding-top: 100px;
    height: 200px;
    right: -125px;
    width: 125px;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px #6200EE;
    transition-duration: 0.25s;
}

.menu__item {
    display: block;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 10px;
    color: #6200EE;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition-duration: 0.25s;
}

nav .categories {
    display:flex;
    justify-content: center;
    align-items: center;
}

nav .categories a {
    display: block;
    text-decoration: none;
    color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 400;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 10px;
    background: beige;
    transition: 0.3s ease;
}

nav .categories a:hover {
    background: #000;
    color: #fff;
    box-shadow: none;
}

/* Section Styles */
section {
    text-align: center;
    background-color: #6200EE;
    color: #333;
    transition: transform 0.5s ease;
}

.every-moment-matters {
    padding-top: 25px;
    padding-bottom: 25px;
}

.flip-container {
    perspective: 1000px;
    width: 200px; /* Adjust the width as needed */
    height: 260px; /* Adjust the height as needed */
}

.flipper {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
}

.front,
.back {
    position: absolute;
    padding-left: 40px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    cursor: pointer;
}

.back {
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

img {
    display: block;
    height: 240px;
    width: 240px;
    margin: 0 auto;
}

.sec-img {
    display: block;
    height: 80px;
    width: 80px;
    margin-left: 0;
}

.BT-Spreadsheet iframe{
    width:100%;
    height: 780px;
}

.Mo-videos iframe {
    width: 400px;
    height: 225px;
}

.Mo-Zips iframe {
    width: 225px;
    height: 400px;
}

.gif {
    display: block;
    width: 40%;
    height: 40%;
    padding: 2%;
    border: none;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #fff;
    margin-top: 0;
}

h2 {
    font-size: 24px;
    font-family: cursive;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: white;
    margin-top: 0;
}

p {
    font-weight: 900;
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

/* Highlighted Text Styles */
.highlight-text {
    color: #000;
}

/* Footer Styles */
footer {
    background: #4600FF;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-bottom: none;
    border-top: 2px solid black;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

.content-container {
    display: contents;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category {
    display: block;
    background: #6200EE;
    text-align: center;
}

/* Content Module Styles */
/* Scrollable container */
.content-container-horizontal {
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

/* Hide the scrollbar for webkit-based browsers */
.content-container-horizontal::-webkit-scrollbar {
    display: none;
}

/* Individual content modules within the horizontal scroll container */
.content-module-hoz,
.content-module-vert,
.content-module{
    position: relative;
    background: #fff;
    border: 2px solid #4600FF;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    color: #000;
}

.content-module-hoz {
    min-width: 460px;
}

.content-module-vert {
    min-width: 267.5px;
}

.content-module {
    min-width: 340px;
}

.content-module-gifts {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #fff;
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    color: #000;
}

.content-module-gifts a {
    color: blue;
    text-decoration: none;
}

.content-module-gifts {
    min-width: 340px;
}

.content-module-gifts .content-window p {
    padding: 10px;
}

.content-window p {
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 10px;
    color: #000;
    text-align: left;
}

.button-container a {
    text-decoration: none;
    color: #000;
    box-shadow: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    position: static;
    padding: 10px;
}

.profile-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-container {
    padding: 5px;
    display: flex;
    align-items: center;
}

.profile-photo {
    max-width: 70px;
    max-height: 70px;
    display: block;
    margin: 0 auto;
}

.moment-user {
    font-family: cursive;
    text-transform: none;
    font-style: normal;
    color: #4600FF;
    font-size: 16px;
}

/* button styles */
.button-other,
.button-sports,
.button-tour,
.button-art,
.button-podcast,
.button-halloween,
.button-hike,
.button-digital-advisor,
.button-academia,
.button-sales,
.button-running,
.button-careers,
.button-time,
.button-summary,
.button-fund,
.button-funded,
.button-consult {
    display: flex;
    font-family: fantasy;
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
    margin-right: 5px;
    margin-left: 5px;
    max-width: fit-content;
    border-radius: 20px;
    text-decoration: underline;
    color: thistle;
}

.date {
    display:flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: auto;
    text-transform:uppercase;
    max-width: fit-content;
    font-size: 18px;
    color: red;
}

.button-tour {
    color: violet;
}

.button-podcast {
    color: cadetblue;
}

.button-halloween {
    color: lightsalmon;
}

.button-art {
    color: red;
}

.button-sports {
    color: burlywood;
}

.button-hike {
    color: darkolivegreen;
}

.button-digital-advisor {
    color: yellowgreen;
}

.button-sales {
    color: violet;
}

.button-running {
    color: darksalmon;
}

.button-careers {
    color: cornflowerblue;
}

.button-academia {
    color: purple;
}

.button-consult,
.button-fund,
.button-funded {
    background-color: aquamarine;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    padding: 2px 5px;
    font-weight: 300;
    margin-right: 5px;
    margin-left: 5px;
    max-width: fit-content;
    border-radius: 20px;
}

.button-consult:hover,
.button-fund:hover {
    background: aqua;
    border-radius: 20px;
}

.button-fund {
    background-color: lightgreen;
}

.button-fund:hover {
    background: green;
    border-radius: 20px;
}

.button-funded {
    color: darkcyan;
}

.button-summary {
    color: dimgray;
}

.button-time {
    color: bisque;
}

@media screen and (max-width: 375px) {
    /* Styles for iPhone 8 and similar small screens */
    .button-other,
    .button-sports,
    .button-tour,
    .button-art,
    .button-podcast,
    .button-halloween,
    .button-hike,
    .button-digital-advisor,
    .button-academia,
    .button-sales,
    .button-running,
    .button-careers,
    .button-consult,
    .button-fund,
    .button-time,
    .button-summary,
    .button-funded {
        font-size: 8px;
    }

    .content-window {
        margin: auto;
    }

    .profile-photo {
        max-height: 50px;
        max-width: 50px;
    }

    .content-module,
    .content-module-gifts,
    .content-module-hoz,
    .content-module-vert {
        min-width: 370px;
    }

    .front,
    .back {
        position: absolute;
        padding-left: 45px;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .logo {
        width: 60px;
        height: 60px;
    }

    .content-module,
    .content-module-gifts,
    .content-module-hoz,
    .content-module-vert {
        min-width: 370px;
    }

    .button-other,
    .button-sports,
    .button-tour,
    .button-art,
    .button-podcast,
    .button-halloween,
    .button-hike,
    .button-digital-advisor,
    .button-academia,
    .button-sales,
    .button-running,
    .button-careers,
    .button-consult,
    .button-fund,
    .button-time,
    .button-summary,
    .button-funded {
        font-size: 12px;
    }

    .moment-user {
        font-size: 14px;
    }

    .every-moment-matters {
        padding: 10px;
    }

    .every-moment-matters h1 {
        font-size: 36px;
    }

    .every-moment-matters p {
        text-align: left;
        margin-left: 25px;
        padding: 10px;
    }

    .gif {
        width: 85%;
        height: 85%;
    }

    .img {
        width: 80%;
        height: 80%;
    }

    .sec-img {
        width: 70px;
        height: 70px;
    }

    .content-window {
        margin: auto;
    }

    .profile-photo {
        max-height: 60px;
        max-width: 60px;
    }

    .Mo-videos iframe {
        margin: 0;
        width: 300px;
        height: 168.75px;
    }

    .Mo-Zips iframe {
        margin: 0;
        min-width: 168.75px;
        min-height: 300px;
    }

    .menu__btn {
        position: fixed;
        padding-top: 18px;
        top: 15px;
        right: 18px;
        padding-right: 30px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        border-radius: 0px 0px 0px 10px;
        padding-top: 70px;
        height: 170px;
        right: -125px;
        width: 115px;
        list-style: none;
        background-color: #fff;
        box-shadow: 2px 2px 6px #6200EE;
        transition-duration: 0.25s;
    }

    .menu__item {
        display: block;
        text-align: right;
        margin-right: 23px;
        margin-bottom: 10px;
        color: #6200EE;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        transition-duration: 0.25s;
    }

    .front, .back {
        position: absolute;
        padding-left: 45px;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets */
    .button-sales,
    .button-sports,
    .button-tour,
    .button-art,
    .button-podcast,
    .button-halloween,
    .button-hike,
    .button-digital-advisor,
    .button-academia,
    .button-running,
    .button-other,
    .button-careers,
    .button-consult,
    .button-fund,
    .button-time,
    .button-summary,
    .button-funded {
        font-size: 12px;
    }

    .moment-user {
        font-size: 16px;
    }

    h1 {
        font-size: 28px;
    }

    .gif {
        width: 70%;
        height: 70%;
    }

    .img {
        width: 70%;
        height: 70%;
    }

    .profile-photo {
        max-height: 70px;
        max-width: 70px;
    }

    .content-window {
        margin: auto;
    }

    .Mo-videos iframe {
        width: 350px;
        height: 196.875px;
    }

    .Mo-Zips iframe {
        min-width: 196.875px;
        min-height: 350px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for larger screens up to 1440px */
    .button-sales,
    .button-sports,
    .button-tour,
    .button-art,
    .button-podcast,
    .button-halloween,
    .button-hike,
    .button-academia,
    .button-digital-advisor,
    .button-running,
    .button-other,
    .button-careers,
    .button-consult,
    .button-fund,
    .button-time,
    .button-summary,
    .button-funded {
        font-size: 14px;
    }
}
