* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Inter', sans-serif;
}

/* Header Styles */
header {
    background: #4600FF;
    border-bottom: 1px solid black;
    color: white;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.logo {
    width: 50%;
    padding: 5% 0;
    transition: transform 0.6s ease;
}

.logo:hover {
    transform: rotate(180deg);
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    background: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

nav a:hover {
    background: #fff;
    color: #000;
    box-shadow: none;
}

/* Section Styles */
section {
    text-align: center;
    background-color:#000;
    color: #333;
    padding: 20px;
    transition: transform 0.5s ease;
}

img {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.gif {
    display: block;
    width: 30%;
    padding: 2%;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

h3 {
    font-size: 32px;
    margin-top: 10px;
    color: #fff;
    text-align: left;
    margin-left: 20px;
}

h1 {
    font-size: 48px;
    color:#fff ;
    margin-top: 0;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

p {
    font-weight: 900;
    margin:0;
    text-align: center;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

/* Highlighted Text Styles */
.highlight-text {
    color: #4600FF;
}

/* Footer Styles */
footer {
    background: #4600FF;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

.content-container {
    display:contents;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 10px;
}

.category {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #000;
    text-align: center;
}

/* Content Module Styles */
/* Scrollable container */
.content-container-horizontal {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 10px;
    padding-right: 10px;
}

/* Hide the scrollbar for webkit-based browsers */
.content-container-horizontal::-webkit-scrollbar {
    display: none;
}

/* Individual content modules within the horizontal scroll container */
.content-module {
    position: relative;
    background: #fff;
    border: 2px solid #4600FF;
    padding: 10px;
    margin: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    min-width: 240px; 
    color: #000; 
}

.content-module p {
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 10px;
    color:#000;
    text-align: left;
}

.horizontal-video-container video{
    width: 100%;
    margin-right: 5px;
    padding: 5px;
}

.zips-video-container video {
    width: 60%;
    margin-right: 5px;
    padding: 5px;
}

.horizontal-video-container {
    position: relative;
    overflow: hidden;
}

.zips-video-container {
    position: relative;
    overflow: hidden;
}

.horizontal-dimensions {
    appearance: 16px 9px;
}

.moments-zips-dimensions {
    appearance: 9px 16px;
}

.button-container a {
    text-decoration: none;
    color:#000;
    box-shadow: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    position: static;
    padding-top: 5px;
    left: 10px; 
    right: 10px;
}

.consultant-window {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;
}

.profile-container {
    padding:5px;
    display: flex;
    align-items: center; 
}

.profile-photo {
    padding: 5px;
    max-width: 70px; /* Adjust the maximum width */
    margin: auto; /* Add spacing between the image and recipient */
}

.recipient {
    font-family: cursive;
    text-transform: none;
    font-style: normal;
    color: #4600FF;
    font-size: 16px;
}

/* button styles */
.button-other,
.button-sales,
.button-running,
.button-careers,
.button-college,
.button-time,
.button-activity,
.button-summary,
.button-funded {
    display:flex;
    font-family: fantasy;
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
    font-weight: 300;
    margin-right: 5px;
    margin-left: 5px;
    max-width: fit-content;
    border-radius: 20px;
}

.button-other{
    text-decoration: underline;
    font-weight: bold;
    color: thistle;
}

.button-sales{
    text-decoration: underline;
    font-weight: bold;
    color: violet;
}

.button-running{
    text-decoration: underline;
    font-weight: bold;
    color: darksalmon;
}

.button-careers{
    text-decoration: underline;
    font-weight: bold;
    color: cornflowerblue;
}

.button-college{
    text-decoration: underline;
    font-weight: bold;
    color: antiquewhite;
}

.button-consult{
    background-color:aquamarine;
    cursor: pointer;
    color: #000;
    display:flex;
    font-family: fantasy;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 5px ;
    font-weight: 300;
    margin-right: 5px;
    margin-left: 5px;
    max-width: fit-content;
    border-radius: 20px;
}

.button-consult:hover {
    background:aqua;
    border-radius: 20px;
}

.button-fund {
    background-color: lightgreen;
    color: #000;
    display:flex;
    font-family: fantasy;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 5px ;
    font-weight: 300;
    margin-right: 5px;
    margin-left: 5px;
    max-width: fit-content;
    border-radius: 20px;
    }

.button-fund:hover {
    background: green;
    border-radius: 20px;
}

.button-funded {
    text-decoration: underline;
    font-weight: bold;
    color: darkcyan;
}

.button-summary{
    text-decoration: underline;
    font-weight: bold;
    color:dimgray;
}

.button-time {
    text-decoration: underline;
    font-weight: bold;
    color:bisque;
}

.button-activity {
    text-decoration: underline;
    font-weight: bold;
    color: lightblue;
}

@media screen and (max-width: 375px) {
    /* Styles for iPhone 8 and similar small screens */
.button-other,
.button-sales,
.button-running,
.button-careers,
.button-college,
.button-consult,
.button-fund,
.button-time,
.button-activity,
.button-summary,
.button-funded {
        font-size: 8px;
    }

    .content-module {
        min-width: 240px;
    }

    .profile-photo {
        max-width: 50px; /* Adjust the maximum width */
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    /* Styles for iPhone X, iPhone 11, and similar screens */
.button-other,
.button-sales,
.button-running,
.button-careers,
.button-college,
.button-consult,
.button-fund,
.button-time,
.button-activity,
.button-summary,
.button-funded {
        font-size: 10px;
    }

    .recipient {
        font-size: 12px;
    }

    h1 {
        font-size: 32px;
    }

    .gif{
        width:90%;
    }

    .img{
        width: 90%;
    }

    .content-module {
        min-width: 320px;
    }

    .profile-photo {
        max-width: 50px; /* Adjust the maximum width */
    }

    .video-container video {
        position: absolute;
        height: 90%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets */
.button-sales,
.button-running,
.button-other,
.button-careers,
.button-college,
.button-consult,
.button-fund,
.button-time,
.button-activity,
.button-summary,
.button-funded {
        font-size: 12px;
    }

    .recipient {
        font-size: 16px;
    }

    h1 {
        font-size: 28px;
    }

    .gif{
        width:70%;
    }

    .img{
        width: 70%;
    }

    .profile-photo {
        max-width: 70px; /* Adjust the maximum width */
    }

    .content-module {
        min-width: 480px; /* Set a minimum width for each module */
    }

    .video-container video {
        position: absolute;
        height: 70%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Styles for larger screens up to 1440px */
.button-sales,
.button-running,
.button-other,
.button-careers,
.button-college,
.button-consult,
.button-fund,
.button-time,
.button-activity,
.button-summary,
.button-funded
        font-size: 14px;
    }
